.list-item-header { font-size: 1.2em; }

/* listeleme sayfalarindaki basliklarin genislikleri*/
.ui.header .content { width:100%; }


.breadcrumb li {
  list-style-type: none;
  display:inline-block;
  margin-right:10px;
}


/***********************************************/

.recruitment-process-ul li {
  list-style-type: none;
  text-align: right;
}
